### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### Maven build (ignore build artifacts but keep reports/logs) ###
target/
!target/allure-results/
!target/surefire-reports/
!target/reports/
!target/logs/

### JVM crash logs ###
hs_err_pid*.log

### OS Files ###
.DS_Store
Thumbs.db

### Others ###
*.class
*.swp
*.swo
