<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_DIR">${sys:project.build.directory:-target}/logs</Property>
        <Property name="STAMP">${date:yyyy-MM-dd}/${date:HH-mm-ss}</Property>
        <Property name="CONSOLE_PATTERN">%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n}</Property>
        <Property name="FILE_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>
        <!-- Optional: run-wide log -->
        <File name="RunFile" fileName="${LOG_DIR}/${STAMP}/run.log" createOnDemand="true">
            <PatternLayout pattern="${FILE_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="io.restassured" level="WARN"/>
        <Logger name="org.apache.http" level="WARN"/>
        <Logger name="org.openqa.selenium" level="INFO"/>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RunFile"/>
        </Root>
    </Loggers>
</Configuration>
